@import "tailwindcss";

.info-box {
    @apply bg-white/10 rounded-xl p-3 text-center backdrop-blur-md border border-white/25 shadow-lg shadow-black/20 transition-all duration-500 hover:bg-white/20 hover:shadow-xl hover:scale-105;
  }